# Derleme ciktilari
*.exe
*.dll
*.obj
*.pdb
*.cache
license-db.xml
admin-token.txt
private-key.xml
server-private-key.xml

# Logo ve Ikonlar (Derleme icin app.ico gereklidir, haric tutulur)
logo.ico
*.ico
!app.ico

# Gorsel Varliklar
!logo.png
!logo_hq.png

# Gecici Dosyalar ve Loglar
*.log
*.tmp
*.bak

# Visual Studio
.vs/
bin/
obj/
*.user
*.suo
*.csproj.user

# OS
Thumbs.db
desktop.ini
.DS_Store
