# Derleme ciktilari
*.exe
*.dll
*.obj
*.pdb
*.cache
license-db.xml
admin-token.txt
private-key.xml
server-private-key.xml

# Logo dosyasi (kod icine gomuldu)
logo.ico
*.ico

# Visual Studio
.vs/
bin/
obj/
*.user
*.suo
*.csproj.user

# OS
Thumbs.db
desktop.ini
.DS_Store
